.nullam_content{
    margin-bottom: 24px;
}

.nullam__title{
    color: #000;
    text-align: center;
    align-items:center;
    width: 262px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
}
.nullam__text{
    max-width: 719px;
    color: #000;
    text-align: center;
    align-items:center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.nullam_container{
    max-width: 832px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
}
.nullam_inner_img{
    margin-right: 32px;
}

.nullam_inner__title{
    width: 277px;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
}

.nullam_inner__text{
    max-width: 493px;
    text-align: center;
    align-items:center;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
